<h1>Listing persos</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Joueur</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @persos.each do |perso| %>
  <tr>
    <td><%= perso.nom %></td>
    <td><%= perso.joueur %></td>
    <td><%= link_to 'Show', perso %></td>
    <td><%= link_to 'Edit', edit_perso_path(perso) %></td>
    <td><%= link_to 'Destroy', perso, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Perso', new_perso_path %>
