<div class="zone01">
<div class="cthulhu">
<strong>L'APPEL DE<br />
CTHULHU</strong>
</div>


<% form_for @perso do |f| %>
<div class="personnage">
<%= f.label :nom %>: <%= f.text_field :nom,  :size => 10 %> Joueur : <%= f.text_field :joueur,  :size => 10 %> <br />


<%= @perso.attributs.each do |attribut| %>
  <%= fields_for "attribut[#{attribut.nom}]", attribut do |f| %>
    <p><%= f.label attribut.nom%><%= f.text_field :val %></p>
  <% end %>
<% end %>
</div>

<div class="portrait">

<p>

</p> 
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
 <%= submit_tag %>
<%= link_to 'Back', persos_path %>
<% end %> 

