<p id="notice"><%= notice %></p>
<div class="zone01">
<div class="cthulhu">
<strong>L'APPEL DE<br />
CTHULHU</strong>
</div>


<div class="personnage">
Nom : <%=@perso.nom%>         Joueur: <%= @perso.joueur %><br />
 <%=carac("Profession")%>  ...   <%=carac("Age")%> ...  <%=carac("Sexe")%> <br />
<%=carac("Nationalite")%>  ...   <%=carac("Residence")%>
</div>
</div>

<div class="zone02">
<div class="caracs">
CARACTERISTIQUES<br />
<table>
<tr><%=tabcarac(["FOR","DEX","INT","Idee"]).html_safe%></tr>
<tr><%=tabcarac(["CON","APP","POU","Chance"]).html_safe%></tr>
<tr><%=tabcarac(["TAI","SAN","EDU","Connaissance"]).html_safe%></tr>
</table>
</div>
<div class="etudes">
<%=carac("Ecoles")%><br />
<%=carac("Diplomes")%><br />
<%=carac("Bonus-Penalites")%><br />
</div>
<div class="magie">
POINTS DE MAGIE<br />
Inconscience
<table class="center">
<tr><td>0</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td></tr>
<tr><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td><td>13</td></tr>
<tr><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td><td>20</td></tr>
<tr><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td></tr>
</table>
</div>
<div class="vie">
POINTS DE VIE<br />
<table class="center">
<tr><td colspan="2">Mort</td><td>-2</td><td>-1</td><td>0</td><td>+1</td><td>+2</td></tr>
<tr><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td></tr>
<tr><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td></tr>
<tr><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td></tr>
<tr><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td></tr>
</table>
</div>
</div>

<div class="zone03">
<div class="san">
POINTS DE SANTE MENTALE<br />
<table class="center">
<tr><td>0</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td></tr>
<tr><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td><td>32</td><td>33</td><td>34</td><td>35</td><td>36</td><td>37</td><td>38</td><td>39</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td><td>46</td><td>47</td><td>48</td><td>49</td></tr>
<tr><td>50</td><td>51</td><td>52</td><td>53</td><td>54</td><td>55</td><td>56</td><td>57</td><td>58</td><td>59</td><td>60</td><td>61</td><td>62</td><td>63</td><td>64</td><td>65</td><td>66</td><td>67</td><td>68</td><td>69</td><td>70</td><td>71</td><td>72</td><td>73</td><td>74</td></tr>
<tr><td>75</td><td>76</td><td>77</td><td>78</td><td>79</td><td>80</td><td>81</td><td>82</td><td>83</td><td>84</td><td>85</td><td>86</td><td>87</td><td>88</td><td>89</td><td>90</td><td>91</td><td>92</td><td>93</td><td>94</td><td>95</td><td>96</td><td>97</td><td>98</td><td>99</td></tr>
</table>
</div>
<div class="comps">
<table>
<%=tabcaractotale(["Anthropologie","Esquiver","Piloter","Archeologie","Geologie",".",".","Arts","Grimper","..","...","Histoire","PremiersSoins","....","HistoireNaturelle","Psychanalyse","ArtsMartiaux","Lancer","Psychologie","Astronomie","LangueNatale","Sauter","Baratin",".....","Se Cacher"",Bibliotheque","Langues Etrangeres","Serrurerie","Biologie","......","Suivre une Piste","Bloquer (DEX X 2)",".......","Trouver Objet Cache (25)","Chimie (01)","Marchandage (05)","........","Comptabilite (10)","Mecanique (20)",".........","Conduire automobile (20)","Medecine (05)","..........","Conduire Engin lourd (01)","Monter a Cheval (05)","...........","Credit (15)","Mythe de Cthulhu","..","Criminalistique (01)","Nager (25)",".............","Deguisement (01)","Navigation (10)",".............","Discretion (15)","Occultisme (05)","...............","Dissimulation (15)","Persuasion (15)","................","Droit (05)","Pharmacologie (01)",".................","Ecouter (25)","Photographie (10)","..................","Electricite (10)","Physique (01)","..................."]).html_safe%>


</table>
</div>
</div>
<div class="zone04">
<div class="armes_feu">
ARMES à Feu<br />
<table class="center">
<tr><td>Arme</td><td>Dom.</td><td>Portée</td><td>Panne</td><td>Empal.</td><td>Tirs</td><td>PdV</td><td>Mun.</td></tr>
<tr><%=tabcaracarmes(["Arme1","ArmeDom1","ArmePor1","ArmePan1","ArmeEmpal1","ArmeTirs1","ArmePdv1","ArmeMun1"]).html_safe%></tr>
<tr><%=tabcaracarmes(["Arme2","ArmeDom2","ArmePor2","ArmePan2","ArmeEmpal2","ArmeTirs2","ArmePdv2","ArmeMun2"]).html_safe%></tr>
<tr><%=tabcaracarmes(["Arme3","ArmeDom3","ArmePor3","ArmePan3","ArmeEmpal3","ArmeTirs3","ArmePdv3","ArmeMun3"]).html_safe%></tr>
<tr><td>..........</td><td>..........</td><td>..........</td><td>..........</td><td>..........</td><td>..........</td><td>..........</td><td>..........</td></tr>
<tr><td>..........</td><td>..........</td><td>..........</td><td>..........</td><td>..........</td><td>..........</td><td>..........</td><td>..........</td></tr>
<tr><td>..........</td><td>..........</td><td>..........</td><td>..........</td><td>..........</td><td>..........</td><td>..........</td><td>..........</td></tr>
</table>
</div>
<div class="armes_cac">
ARMES de Corps à Corps<br />
<table class="center">
<tr><td>Arme</td><td>%</td><td>Dom</td><td>Att/R</td><td>PdV</td><td></td></tr>
<tr><td>Coup de Pied (25)</td><%=tabcaracarmes(["Coupdepiedpct","Coupdepieddom","Coupdepiedatt","Coupdepiedpdv"]).html_safe%></tr>
<tr><td>Coup de Poing (50)</td><%=tabcaracarmes(["Coupdepoingpct","Coupdepoinfdom","Coupdepoingatt","Coupdepoingpdv"]).html_safe%></tr>
<tr><td>Coup de Tête (10)</td><%=tabcaracarmes(["Coupdetetepct","Coupdetetedom","Coupdeteteatt","Coupdetetepdv"]).html_safe%></tr>
<tr><td>Lutte (25)</td><%=tabcaracarmes(["Luttepct","Luttedom","Lutteatt","Luttepdv"]).html_safe%></tr>
<tr><%=tabcaracarmes(["NomArmeCac","Armecacpct","Armecacdom","Armecacatt","Armecacpdv"]).html_safe%></tr>
<tr><%=tabcaracarmes(["NomArmeCac2","Armecacpct2","Armecacdom2","Armecacatt2","Armecacpdv2"]).html_safe%></tr>
</table>
</div>

<div class="fric">
<table>
<tr>
<td class="frictab">
Revenus : .................................<br />
..................................................<br />
Economies : ..............................<br />
..................................................<br />
Argent de poche : ....................<br />
..................................................<br />
</td>
<td class="frictab">Biens personnels<br />
..................................................<br />
..................................................<br />
..................................................<br />
..................................................<br />
..................................................</td>
<td class="frictab">Richesse Réelle<br />
..................................................<br />
..................................................<br />
..................................................<br />
..................................................<br />
..................................................</td>
</tr>
</table>
</div>

<div class="infos">
Informations Personnelles<br />
<br />
Description :<br />
<br />
<br />
Famille / Amis :<br />
<br />
<br />
Crises de Folie :<br />
<br />
<br />
Blessures :<br />
<br />
<br />
Cicatrices / Balafres :<br />
<br />
<br />
</div>

<div class="materiel">
Matériel d'Aventure et autres Possessions<br />
<br /><br /><br /><br /><br /><br />
</div>

<div class="vehicules">
Véhicules<br />
<br /><br />
</div>

<div class="autres">
Entitées recontrées :<br />
<br /><br /><br /><br /><br /><br />
Ouvrages / Grimoires lus :<br />
<br /><br /><br /><br /><br /><br />
Objets Magiques / Sortilèges Connus :<br />
<br /><br /><br /><br /><br /><br />
</div>

</div>
<div class="portrait">
<p> 
</p> 
</div>
<%= link_to 'Edit', edit_perso_path(@perso) %> |
<%= link_to 'Back', persos_path %>
